*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

header{
    margin:0;
    padding:0;
    width: 100%;
    height: 70px;
    background: #d4e3f3;
    position: fixed;
    z-index: 99;
}

.navigation{
    max-width: 100%;
    padding-right: 20px;
    margin:0;
}

.logo{
    float: left;
    padding: 5px 0 0 30px;
    
}

.logo img{
    height: 70px;
}

.navigation-menu{
    float:right;
    display:flex;
    align-items: center;
    min-height: 70px;
}

.navigation-menu a{
    margin-right: 40px;
    color: rgb(42, 42, 121);
    text-transform: uppercase;
    font-size:14px;
    padding: 10px 0px;
    border-radius: 4px;
    transition: .3s linear;
}

.navigation-menu a:hover{
    background: #fff;
    color: blue;
    transform: scale(0.8);
}

.navigation-menu i{
    margin-left: 60px;
    font-size: 16px;
}

.home{
    color:#92ef84;

}

.about{
    color:#92ef84;

}

.activities{
    color:#92ef84;

}

.contact{
    color:#92ef84;

}

.menu-toggle-btn{
    float: right;
    height: 90px;
    line-height: 90px !important;
    color: #fff;
    font-size: 26px;
    display: none !important;
    cursor: pointer;
}



.search-box{
    position: relative;
    top: 5px;
    left: 2rem;
    right: 2rem;
    background:none;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

}
.search-box:hover > .search-txt{
    width: 4rem;
    padding: 0 6px;
    top: 50px;
}
.search-box:hover > .search-btn{
   color: white;
     }

.search-txt{
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: rgb(66, 61, 139);
 font-size: 16px;   
 width: 0px;
}
 
@media screen and (max-width:760px) {
    .menu-toggle-btn{
        display: block !important;
    }

    .navigation-menu{
        position:fixed;
        width: 100%;
        max-width: 400px;
        background: #7c9bd1;
        top:90px;
        right: 0;
        display: none;
        padding: 20px 40px;
        box-sizing: border-box;
    }

    .navigation-menu::before{
        content: "";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid red;
        position: absolute;
        top: -10px;
        right: 10px;

    }

    .navigation-menu a{
        display: block;
        margin: 10px 0;
    }

    .navigation-menu.active{
        display: block;
        position: fixed;
    }

}

.ferdeza {
   
    margin-top: 10px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    padding: 100px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}
.ferdeza h1 {
    font-size: 20px;
    border-bottom: double #38a8bc;
    border-top: double #38a8bc;
    border-left:double #38a8bc ;
    border-right: double #38a8bc;
    color: #207284;
    padding: 5px;
border-spacing: 90px;
}

#time {
    font-size: 20px;
    border: double 1px #38a8bc;
    padding: 5px;
    color: black;
    margin-top: 50px;
    float: right;
    margin-right: 30px;
}

#greeting{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.section_s {
    position: relative;
    width: 100%;
    padding: 0 50px 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rrumbullaksimi {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    border: double #0783bc 5px;
    background: linear-gradient(45deg, #57b1d88f, #64a6d8);
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

@media screen and (max-width:800px){
.container_t {
    padding:0 1rem;
}
}
.container_t {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

@media screen and (max-width:800px){
.container_t h1{
    font-size:3rem;
}
}
.container_t h1{
    color:black;
}

.container_t h1,h2{
    font-weight: 200;
    margin:0.4rem
}

.content .textBox h2 {
    color: black;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox p {
    color: black;
    padding-right: 10px;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

@media screen and (max-width:1000px) {
    .content .imgBox{
        text-decoration:underline;
    }
    
}
.content .imgBox img {
    max-width: 400px;
}

.fotoja {
    background-size: 100px;
    background-repeat: repeat-x;
    background-origin: border-box;
    margin-top: 55px;
    margin-bottom: 55px;
    padding: 4em;
}

.about-section{
    background-size: 55%;
    background-color:  #d4e3f3;
    overflow: hidden;
    padding: 50px;
}

.inner-container{
    
    width: 55%;
    float: right;
    background-color:  #d4e3f3;
    padding: 100px;
}

.text{
    font-size: 20px;
    color: #0b9aba;
    line-height: 30px;
    text-align: center;
    margin-bottom: 40px;
    width: 90%;
    background-color:  #d4e3f3;
}

.image-container_a {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_a {
    width: 120px;
    height: 120px;
    background:linear-gradient(45deg, #57b1d88f, #64a6d8);
    margin: 2px 50px;
    border-radius: 50%;
    border: 3px solid ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_a img {
    width: 130px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: -20px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.info-container_a {
    width: 1100px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
}

.profile_a {
    border-radius: 20px;
    padding: 10px;
    padding-left: 0;
    margin: 0px;
    height: 370px;
}

.name_a {
    margin-top: 80px;
    padding: 0px 15px;
    text-align: left;
    line-height: 20px;
    font-size: 50px;
}

.status_a {
    padding: 0px 20px;
    text-align: left;
    line-height: 50px;
    margin: 0;
}

.about_a {
    height: 240px;
    padding: 0px 20px;
}

figcaption {
    display: block;
}


figure {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 50px;
    margin-inline-end: 50px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

section{
    position: relative;
}

.inner-container h1{
    background-color: antiquewhite;
}

.benefits-section {
    padding: 40px 20px;
    margin-bottom: 80px;
}

.benefits-div{
    display: flex;
    place-content: center;
}

.benefits-table{
    width: 100%;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr{
    display: table-row;
    vertical-align: inherit;
border-color: inherit;
}

.benefits-table th{
    text-align: center;
}

table th{
    width: 50%;
    background: #d4e3f3;
}

.benefits-table .benefits {
    max-width: 375px;
    border-color: black;
    color: #53505A;
    float: left;
    width: 100%;
    padding: 20px 0px 10px;
    margin: 5px 15px;
    text-align: center;
    box-sizing: border-box;
    border-collapse: collapse;
    border-radius: 10px 10px 50px 10px;
    transition: all .2s ease-in-out;
    background: #d4e3f3;
}

.benefits p {
    width: 93%;
    height: 85px;
    padding: 10px;
    background:  #d4e3f3;
}

.client-text {
    margin-left:120px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: -100px;
    margin-bottom: 390px;
    position:absolute;
    background: linear-gradient( to right,rgb(130, 204, 236) 50%,  #6fdbe57f 50%, #4cb0b9 );
    background-size: 200%;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    transition:0.5s ease-out;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent:initial;
    border-spacing: 2px;
    border-color: grey;
    width:100%;
    background: linear-gradient(45deg, #57b1d88f, #64a6d8);
}

.ta2 tr td {
    text-align:center;
    font-family: 'Poppins',sans-serif;
}



.header{
    padding-top: 2rem;
    padding-bottom:2rem;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--whatweoffer);
    position: sticky;
    top: 10;
    left: 0;
    right: 0px;
    z-index: 800;
}


.header .logo img{
   padding-left: 20px;
   width: 150px;
   height: 10px;
    
}


.header .navbar a{
    font-size:2rem;
    font-weight: 500;
    margin-left: 2rem;
    color:var(--text);
    margin-right: 2rem;


}
.header .navbar a:hover{
    color:var(--activities);
    text-decoration-line: underline;

}


footer{
    background-color: #f3eee7;
    cursor: pointer;
}

.phone{
    color: black;
    letter-spacing: 2px;
}

.box4 {
    width: 95%;
    height: fit-content;
    display: inline-block;
    margin: 1% 2%;
    padding: 10px;
    color: rgb(54, 154, 174);
   align-items: center;
}

.box4 p {
    background:  #d4e3f3;
}
.box41, .box42, .box43 {
    width: 340px;
    height: 200px;
    margin: 5px 1% 0 1%;
    padding: 3px 10px;
    text-align: center;
    border-radius: 10px;
    float: left;
    background:  #d4e3f3;
    box-shadow:#38a8bc ;
}


.center-div {
    margin-top: -5%;
    text-align: center;
}



.transport_main {
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
    text-align: center;
    text-decoration: underline;
}
 

h3 {
    font-size: 25px;
    color: black;
}

.glyphicon-pencil {
    font-size: 35px;
    color: white;
    float: right;
    margin-top: 20px;
}

.col-md-5 {
    margin-top: 80px;
    box-shadow: -1px 1px 60px 10px black;
    background: rgba(0, 0, 0, 4);
}

.label {
    font-weight: normal;
    margin-top: 15px;
    color: black;
    font-size: 19px;
}

.form-control {
    background: transparent;
    border-radius: 0px;
    border:0px;
    border-bottom: 1px solid white;
    font-size: 18px;
    margin-top: 15px;
    height: 40px;
    color: white;
}



