*{
    box-sizing: border-box;
}

.ferdeza {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-size: 600px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}
.ferdeza h1 {
    font-size: 20px;
    border-bottom: double #38a8bc;
    border-top: double #38a8bc;
    color: #207284;
    padding: 5px;
}

#time {
    font-size: 20px;
    border: double 1px #38a8bc;
    padding: 5px;
    color: black;
    margin-top: 40px;
    float: right;
    margin-right: 30px;
}

#greeting{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section_s {
    position: relative;
    width: 100%;
    padding: 0 50px 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rrumbullaksimi {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    border: double #0783bc 5px;
    background: linear-gradient(45deg, #6fdbe57f, #4cb0b9);
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

@media screen and (max-width:800px){
.container_t {
    padding:0 1rem;
}
}
.container_t {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

@media screen and (max-width:800px){
.container_t h1{
    font-size:3rem;
}
}
.container_t h1{
    color:black;
}

.container_t h1,h2{
    font-weight: 200;
    margin:0.4rem
}

.content .textBox h2 {
    color: black;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox p {
    color: black;
    padding-right: 10px;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

@media screen and (max-width:1000px) {
    .content .imgBox{
        text-decoration:underline;
    }
    
}
.content .imgBox img {
    max-width: 400px;
}

.fotoja {
    background-size: 100px;
    background-repeat: repeat-x;
    background-origin: border-box;
    margin-top: 55px;
    margin-bottom: 55px;
    padding: 4em;
    color: white;
}

.about-section{
    background-size: 55%;
    background-color: aliceblue;
    overflow: hidden;
    padding: 50px;
}

.inner-container{
    
    width: 55%;
    float: right;
    background-color: aliceblue;
    padding: 100px;
}



.text{
    font-size: 20px;
    color: #0b9aba;
    line-height: 30px;
    text-align: center;
    margin-bottom: 40px;
    width: 90%;
    background-color: aliceblue;
}

.image-container_a {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_a {
    width: 120px;
    height: 120px;
    background:linear-gradient(45deg, #6fdbe57f, #4cb0b9) ;
    margin: 2px 50px;
    border-radius: 50%;
    border: 3px solid ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_a img {
    width: 130px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: -20px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.info-container_a {
    width: 1100px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
}

.profile_a {
    border-radius: 20px;
    padding: 10px;
    padding-left: 0;
    margin: 0px;
    height: 370px;
}

.name_a {
    margin-top: 80px;
    padding: 0px 15px;
    text-align: left;
    line-height: 20px;
    font-size: 50px;
}

.status_a {
    padding: 0px 20px;
    text-align: left;
    line-height: 50px;
    margin: 0;
}

.about_a {
    height: 240px;
    padding: 0px 20px;
}

figcaption {
    display: block;
}


figure {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 50px;
    margin-inline-end: 50px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

section{
    position: relative;
}

.inner-container h1{
    background-color: antiquewhite;
}

.benefits-section {
    padding: 40px 20px;
    margin-bottom: 80px;
}

.benefits-div{
    display: flex;
    place-content: center;
}

.benefits-table{
    width: 100%;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr{
    display: table-row;
    vertical-align: inherit;
border-color: inherit;
}

.benefits-table th{
    text-align: center;
}

table th{
    width: 50%;
    background:aliceblue;
}

.benefits-table .benefits {
    max-width: 375px;
    border-color: black;
    color: #53505A;
    float: left;
    width: 100%;
    padding: 20px 0px 10px;
    margin: 5px 15px;
    text-align: center;
    box-sizing: border-box;
    border-collapse: collapse;
    border-radius: 10px 10px 50px 10px;
    transition: all .2s ease-in-out;
    background:aliceblue;
}

.benefits p {
    width: 93%;
    height: 85px;
    padding: 10px;
    background: aliceblue;
}

.client-text {
    margin-left:120px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: -100px;
    margin-bottom: 390px;
    position:absolute;
    background: linear-gradient( to right,rgb(130, 204, 236) 50%,  #6fdbe57f 50%, #4cb0b9 );
    background-size: 200%;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    transition:0.5s ease-out;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent:initial;
    border-spacing: 2px;
    border-color: grey;
    width:100%;
    background: linear-gradient(45deg, #6fdbe57f, #4cb0b9);
}

tbody{
    display: table-row-group;
    vertical-align: middle;
}

.ta2 tr td {
    text-align:center;
    font-family: 'Poppins',sans-serif;
}



.header{
    padding-top: 2rem;
    padding-bottom:2rem;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--whatweoffer);
    position: sticky;
    top: 10;
    left: 0;
    right: 0px;
    z-index: 800;
}


.header .logo img{
   padding-left: 20px;
   width: 150px;
   height: 10px;
    
}


.header .navbar a{
    font-size:2rem;
    font-weight: 500;
    margin-left: 2rem;
    color:var(--text);
    margin-right: 2rem;


}
.header .navbar a:hover{
    color:var(--activities);
    text-decoration-line: underline;

}


footer{
    background-color: #f3eee7;
    cursor: pointer;
}

.phone{
    color: black;
    letter-spacing: 2px;
}