*{
    box-sizing: border-box;
    background-color: #d4e3f3;
}

.ferdeza {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-size: 600px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}
.ferdeza h1 {
    font-size: 20px;
    border-bottom: double #A58961;
    border-top: double #A58961;
    color: #F5EBE0;
    padding: 5px;
}

#time {
    font-size: 20px;
    border: double 1px #A58961;
    padding: 5px;
    color: black;
    margin-top: 40px;
    float: right;
    margin-right: 30px;
}

#greeting{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section_s {
    position: relative;
    width: 100%;
    padding: 0 50px 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rrumbullaksimi {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    border: double #53505A 5px;
    background: linear-gradient(45deg, #A58961, #F5EBE0);
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

@media screen and (max-width:800px){
.container_t {
    padding:0 1rem;
}
}
.container_t {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

@media screen and (max-width:800px){
.container_t h1{
    font-size:3rem;
}
}
.container_t h1{
    color:black;
}

.container_t h1,h2{
    font-weight: 200;
    margin:0.4rem
}

.content .textBox h2 {
    color: black;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox p {
    color: black;
    padding-right: 10px;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

@media screen and (max-width:1000px) {
    .content .imgBox{
        text-decoration:underline;
    }
    
}
.content .imgBox img {
    max-width: 400px;
}

.fotot {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

ul {
    display:list-item;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.fotot li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}

li, a {
    color: white;
    text-decoration: none;
}

.fotot li img {
    max-width: 60px;
}


.fotoja {
    background: url(home.svg);
    background-size: 90px;
    background-repeat: repeat-x;
    background-origin: border-box;
    margin-top: 55px;
    margin-bottom: 55px;
    padding: 1.5em;
    color: white;
    padding-bottom: -100px;
}

.about-section{
    background: url(support.jfif) no repeat left;
    background-size: 55%;
    background-color: #A58961;
    overflow: hidden;
    padding: 50px;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: antiquewhite;
    padding: 100px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    background-color: aliceblue;
}

.text{
    font-size: 20px;
    color: #A58961;
    line-height: 30px;
    text-align: center;
    margin-bottom: 40px;
    width: 90%;
    background-color: antiquewhite;
}

.image-container_a {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_a {
    width: 120px;
    height: 120px;
    background: #A58961;
    margin: 2px 50px;
    border-radius: 50%;
    border: 3px solid #d4e3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_a img {
    width: 130px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: -20px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.info-container_a {
    width: 1100px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#d4e3f3;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
}

.profile_a {
    border-radius: 20px;
    padding: 10px;
    padding-left: 0;
    margin: 0px;
    height: 370px;
}

.name_a {
    margin-top: 80px;
    padding: 0px 15px;
    text-align: left;
    line-height: 20px;
    font-size: 50px;
}

.status_a {
    padding: 0px 20px;
    text-align: left;
    line-height: 50px;
    margin: 0;
}

.about_a {
    height: 240px;
    padding: 0px 20px;
}

figcaption {
    display: block;
}

element.style {
    font-size: 14px;
    color: rgb(112, 109, 109);
}

figure {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 50px;
    margin-inline-end: 50px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

q {
    display: inline;
}
section{
    position: relative;
}

.inner-container h1{
    background-color: antiquewhite;
}

.benefits-section {
    padding: 40px 20px;
    margin-bottom: 20px;
}

.benefits-div{
    display: flex;
    place-content: center;
}

.benefits-table{
    width: 100%;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr{
    display: table-row;
    vertical-align: inherit;
border-color: inherit;
}

.benefits-table th{
    text-align: center;
}

table th{
    width: 50%;
    background: linear-gradient(45deg, #A58961, #F5EBE0);
}

.benefits-table .benefits {
    max-width: 375px;
    border-color: #ededf0;
    color: #53505A;
    float: left;
    width: 100%;
    padding: 20px 0px 10px;
    margin: 5px 15px;
    border: 2px solid;
    text-align: center;
    box-sizing: border-box;
    border-collapse: collapse;
    border-radius: 10px 10px 50px 10px;
    transition: all .2s ease-in-out;
    background: linear-gradient(45deg, #A58961, #F5EBE0);
}

.benefits p {
    width: 93%;
    height: 85px;
    padding: 10px;
    background: linear-gradient(45deg, #A58961, #F5EBE0);
}