header{
	margin:0;
    padding:0;
    width: 100%;
    height: 70px;
    background: #d4e3f3;
    position: fixed;
    z-index: 99;
}

.navigation{
    max-width: 100%;
    padding-right: 20px;
    margin:0;
}

.logo{
    float: left;
    padding: 5px 0 0 30px;
    
}

.logo img{
    height: 70px;
}

.navigation-menu{
    float:right;
    display:flex;
    align-items: center;
    min-height: 70px;
}

.navigation-menu a{
    margin-right: 40px;
    color: black;
    text-transform: uppercase;
    font-size:14px;
    padding: 10px 0px;
    border-radius: 4px;
    transition: .3s linear;
}

.navigation-menu a:hover{
    background: #fff;
    color: blue;
    transform: scale(0.8);
}

.navigation-menu i{
    margin-left: 60px;
    font-size: 16px;
}

.home{
    color:#92ef84;

}
.menu-toggle-btn{
    float: right;
    height: 90px;
    line-height: 90px !important;
    color: #fff;
    font-size: 26px;
    display: none !important;
    cursor: pointer;
}

@media screen and (max-width:1100px) {
    .menu-toggle-btn{
        display: block !important;
    }
    .navigation-menu{
        position:fixed;
        width: 100%;
        max-width: 400px;
        background: #7c9bd1;
        top:90px;
        right: 0;
        display: none;
        padding: 20px 40px;
        box-sizing: border-box;
        z-index: 99;
    }
    .navigation-menu::before{
        content: "";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid red;
        position: absolute;
        top: -10px;
        right: 10px;
    }
    .navigation-menu a{
        display: block;
        margin: 10px 0;
    }
    .navigation-menu.active{
        display: block;
        position: fixed;
    }
}
 
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }


body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #f8f8f8;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

#team{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    font-size: 1.3rem;
    color: #2c2c2c;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 20px;
}

.heading i{
    background-color: #d4e3f3;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin: 0 20px;
}

.box{
    width: 266px;
    height: 340px;
    background-color: #d4e3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.top-bar{
    width: 50%;
    height: 4px;
    position: absolute;
    left: 50%;
    top:0;
    transform: translate(-50%);
    background-color: black;
    border-radius: 0 0 10px 10px;
}

.verify{
     color: black;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav .heart{
   color: black;
}

.nav .heart:before {
    content: '\f004';
    font-family: fontAwesome;
    line-height: 30px;
    z-index: 1;
    cursor: pointer;
}
.nav .heart-btn{
    display: none;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.details p{
    font-size: 0.8rem;
    color: black;
    margin: 5px 0;

}

.btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn a{
    height: 45px;
    width: 45px;
    border-radius: 10px;
    font-size: 22px;
    line-height: 45px;
    color: black;
}

.btn a i {
    padding-left: 13px;
}

.btn a:hover {
    color: #fff;
    background-color: black;
    transition: all ease 0.3s;
}

.box:hover{
    transform: scale(1.01);
    transition: all ease 0.1s;
}

@media(max-width:612px){
    .box{
        flex-grow: 0.7;
    }
}

#paraAplikimit{
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 3px solid #d4e3f3;
    border-top: 3px solid #d4e3f3;
    
  }
  
  #paraAplikimit:hover{
    box-shadow: 50px 5px 5px lightgrey, 5px 5px 5px lightgrey;
  }

footer{
    background-color: #f3eee7;
    /* cursor: pointer; */
  }
  
  .phone{
    color: black;
    letter-spacing: 2px;
  }