
body{
background-color: 5F8794;

}
p{
    margin:0;
    padding:0;

font-weight: 365;
height: 24;
font-size: 80px;
text-align: center;

}
.banner{position:relative;
        width: 100%;
        margin:0 auto;


}
.heading{
    color:black;
    position:absolute;
    top: 5%;
    text-align: left;
    font-size: 20mm;
}
img{
width: 473mm;
height: 211mm;

}
.banner img{width: 100%}
body{
    background-color: #5F8794;
}