/*--  faqja pare  --*/
body{
    min-width: 100%;
}

h1.background{
    text-align: top center;
    width: 100%;
}


.hapesirebox{
    margin-left: 50px;

}


.hapesiretekst{
    margin-bottom: 80px;

}

.background h1{
    margin: 0px;
   
}

.background{
    text-align: center;
    padding: 0;
    margin: 0 auto;
    padding: 0;
    top: 0;
    left: 0;
    background-position: center center;
    position: relative;
    overflow-y: hidden;
    opacity:  0.7;
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100vw; 
    height: 100vh;
}
  


a.homebuton{
    margin: auto;
    margin-top: 0.1;
    display: grid;
    width: 20px;
    height: 10px;
}

.nextbutton{
    margin-top: 50px;
    padding: 15px;
    border: 10px;
    display: flex;
    display: grid;
    background-color: lightblue;
    background-image: url('images/different disabilities.png');
}

h2.offer{
    text-align: center;
    background-color: lightskyblue;
}


h1.tekstinefig{
    text-align: center;
    padding-left: 50%;
    padding-right: 50%;
    top: 100%;
    text-transform: uppercase;
    margin: 0;
    white-space: nowrap;
    color: black;
    position: absolute;
    opacity: 0.7;
}

.marginposhte{
    margin-bottom: 20px;
}

.row{
    margin-bottom: 50px;
}

.portrait{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 180px;
}

.textinhead{
    text-align: center;
    opacity: 0.7;
}

.marginbox{
    margin-top: 5px;
    
}

#marginright.marginbox{
    text-align: center;
    margin-right: 20%;
}
.border{
    width: 600px;
    height: 690px;
    margin: auto;
    margin-top: 50px;
    border: 10px;
    box-sizing: border-box;
    outline-style:outset;
    border-color: lightblue;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    text-align: justify;
    border-radius: 10%;
}