*{
  margin:0;
  padding:0;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  background-image: url("");
}


/*--  faqja pare  --*/
body, html {
    height: 100%;
    width: 100%;
}

body{
    min-width: 100%;
}

header{
  width: 100%;
  height: 70px;
  background: #d4e3f3;
  position: fixed;
  z-index: 99;
}

.navigation{
  max-width: 100%;
  padding-right: 20px;
  margin:0;
}


.logo{
  float: left;
  padding: 5px 0 0 30px;
  
}

.logo img{
  height: 70px;
}

.navigation-menu{
  float:right;
  display:flex;
  align-items: center;
  min-height: 70px;
}

.navigation-menu a{
  margin-right: 40px;
  color: rgb(42, 42, 121);
  text-transform: uppercase;
  font-size:14px;
  padding: 10px 0px;
  border-radius: 4px;
  transition: .3s linear;
}

.navigation-menu a:hover{
  background: #fff;
  color: blue;
  transform: scale(0.8);
}

.navigation-menu i{
  margin-left: 60px;
  font-size: 16px;
}

.home{
  color:#92ef84;

}

.about{
  color:#92ef84;

}

.activities{
  color:#92ef84;

}

.contact{
  color:#92ef84;

}

.menu-toggle-btn{
  float: right;
  height: 90px;
  line-height: 90px !important;
  color: #fff;
  font-size: 26px;
  display: none !important;
  cursor: pointer;
}


.search-box{
  position: relative;
  top: 5px;
  left: 2rem;
  right: 2rem;
  background:none;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}
.search-box:hover > .search-txt{
  width: 4rem;
  padding: 0 6px;
  top: 50px;
}

.search-box:hover > .search-btn{
  color: white;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: rgb(66, 61, 139);
  font-size: 16px;   
  width: 0px;
}

@media screen and (max-width:760px) {
  .menu-toggle-btn{
    display: block !important;
  }

  .navigation-menu{
      position:fixed;
      width: 100%;
      max-width: 400px;
      background: #7c9bd1;
      top:90px;
      right: 0;
      display: none;
      padding: 20px 40px;
      box-sizing: border-box;
  }

  .navigation-menu::before{
      content: "";
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid red;
      position: absolute;
      top: -10px;
      right: 10px;

  }

  .navigation-menu a{
      display: block;
      margin: 10px 0;
  }

  .navigation-menu.active{
      display: block;
      position: fixed;
  }

}


.submitbuton button{
    display: grid;
    color: lightskyblue;
}


.submitbuton {
  margin: auto;
  margin-right: 25%;
  margin-left: 45%; 
  margin-bottom: 1%;
  margin-top: 1%;
  border: none;
  color: lightskyblue;
  padding: 1% 4%;
  text-align: center;
  transition: 0.3s;
}


.submitbuton:hover {
  background-color:#92ef84;
  color: lightskyblue;
}


.nextbutton{
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
    padding: 2% 5%;
    border: 10px;
    display: grid;
    transition: all 0.5s;
    cursor: pointer;
    background-color: #92ef84;
}

.nextbutton a{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nextbutton a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.nextbutton:hover a {
  padding-right: 25px;
}

.nextbutton:hover a:after {
  opacity: 1;
  right: 0;
}

h2{
    text-align: center;
    margin-top: 50px;
}

h2#colorbackground{
  background-color: #92ef84;
  text-align: center center;
}

h1.tekstinefig{
    text-align: top center;
    padding-left: 50%;
    padding-right: 50%;
    top: 100%;
    text-transform: uppercase;
    margin: 0;
    white-space: nowrap;
    color: black;
    position: absolute;
    opacity: 0.7;
}
.modalefekt{
  width: 80%;
  height: 70%;
  margin-top: 3%;
}
 
/* .row{
    margin-bottom: 50px;
    margin: 10px;
    width: 30px;
    height: 30px;
} */

.portrait{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 180px;
    transition: transform .5s; /* Animation */
}


.portrait:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.marginbox{
    margin-top: 1%;
}

#marginright.marginbox{
    text-align: center;
    margin-right: 20%;
}

.border{
    width: 45%;
    height: 40%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 5%;
    box-sizing: border-box;
    outline-style: outset;
    border-color: #92ef84;
    padding-top: 5%;
    padding-left: 3%;
    padding-bottom: 2%;
    text-align: justify;
    border-radius: 22%;
}

.offer{
  margin-bottom: 1.5%;
  margin-top: 3%;
}

/* for gallery slideshow*/
* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    text-align: center;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #92ef84;
    opacity: 0.7;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  .prev{
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: #92ef84;
    opacity: 0.9;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #92ef84;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* ten columns side by side */
  .column {
    float: left;
    width: 10%;
    margin-bottom: 5%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  /* for the table - rating*/
  .ratingtext{
    text-align: center;
    background-color: lightskyblue;
  }

#rating {
   unicode-bidi: bidi-override;
   display: inline-block;
   text-rendering: auto;
   align-items: center;
}

#rating input {
    display: none;
}

#rating label {
    color: #ddd; 
}

#rating:hover label {
    color: #ffc107; 
}

#rating label:hover ~ label {
    color: #ddd;
}

.stilitabeles{
    box-sizing: border-box;
    padding: 5px;
    margin: auto;
}
 
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
}

th, td {
  background-color: lightskyblue;
}

.checked{
    color:  #ffc107;
}

footer{
  background-color: #f3eee7;
  cursor: pointer;
}

.phone{
  color: black;
  letter-spacing: 2px;
}

/* .image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
} */

.DisplayHover{
  position: relative;
  width: 50%;
}

.RowImagesShow{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middleText {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
 

.DisplayHover:hover .RowImagesShow {
  opacity: 0.3;
}

.DisplayHover:hover .middleText {
  opacity: 1;
}

.textHover {
  background-color: #92ef84;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#submit{
  margin: auto;
  margin-left: 50%;
  margin-right: 25%;
  margin-top: 5%;
  color: lightskyblue;
  padding: 1% 2%;
  text-align: center;
  transition: 0.3s;
  border-color: white;
}

#submit:hover {
  background-color: #92ef84;
  color: lightseagreen;
}


.modalefekt{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  display: block;
  transition: transform .5s; /* Animation */
}

.modalefekt:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* For the map */
.mapouter{
  position: relative;
  text-align:right;
  height:500px;
  width:600px;
  margin: auto;
  margin-bottom: 3%;
}

.gmap_canvas{
  overflow:hidden;
  background:none!important;
  height:500px;
  width:600px;
}